<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>

    <ion-item >
     <ion-input placeholder="Cual es tu sueño..."  color="secondary" type="text" [(ngModel)]="q" ></ion-input>
     <ion-button color="secondary"  (click)="search()" ><ion-icon name="search-outline" ></ion-icon></ion-button>
    </ion-item>
     
    
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" class="icon"></ion-icon>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-title class="titletotalcart" >
    checkout
  </ion-title>

  





</ion-content>
