<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
      <ion-input placeholder="Cual es tu sueño..." class="input" color="dark"></ion-input>
    
    
    <ion-buttons slot="end">
      <ion-icon name="arrow-up-circle-outline" class="icon" (click)="presentModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor="let p of products">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Producto</ion-card-subtitle>
      <ion-card-title>{{p.name}}</ion-card-title>
     <ion-img class="imgcard" src="https://invercomes.com.co/assets/img/products/product/{{p.id}}.jpg"></ion-img>
      
    </ion-card-header>
  
    <ion-card-content>
      <div class="descuento" *ngIf="p.descuento > 0"><strong>Valor Anterior:</strong> ${{p.price/((100-p.descuento)/100) | number:'1.0-0' }} </div>
      <div class="descuento" *ngIf="p.descuento > 0"><strong>Descuento:</strong> {{p.descuento}} %</div>
      <ion-card-title color="dark">$ {{p.price | number}} Cop</ion-card-title>
      
        <ion-button class="btnadd">
          add cart
        </ion-button>
      
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
