

ion-card-title{
    text-transform: uppercase;
}

.descuento{
    color: red;
}

.btnadd{
    width: 100%;
}

.imgcard{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 25px auto;

}