

ion-card-title{
    text-transform: uppercase;
    font-size: 14px;
}

.descuento{
    color: red;
}

.btnadd{
    width: 100%;
}

.imgcard{
    width:100%;
    
    margin: 25px 0;

}

.contencard{
display: flex;
flex-wrap: wrap;
justify-content: center;

}

ion-card{
   width: 43%;
   background:white ;
}
