.contenbtn{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 90%;
    margin: auto;
}

ion-input{
    border: 1px solid #ccc;
    margin: 5px auto;
    border-radius: 5px;
    width: 90%;
}

ion-card{
    padding: 5px;
}