ion-avatar{
    margin: 0 10px;
}

ion-label{
    margin: 0 10px;
}


.contbtn{
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contbtn ion-icon{
    margin: auto 5px;
}