ion-item{
    margin: 25px 0;
}

input{
   
    border-radius: 18px;
    width: 100%;
}
input::placeholder{
    color:#3880ff
}

ion-card{
    margin: 25px auto; 
    width: 80%;
    background: white;
}



.imgcard{
    width: 250px;
    height: 250px;
    object-fit: contain;

}

